# Optimización y cálculo numérico
numpy
scipy=
pymoo

# Visualización
matplotlib
plotly
imagei
kaleido

# Procesamiento de datos y utilidades
pandas
tqdm

# Visualización web
streamlit

# Exportación y generación de GIFs
Pillow